<%= javascript_include_tag('thanks.js') %>
<div class="test-panel">
  <%= image_tag asset_path('MyTipsLogo.svg'), size: "200x200", class: "pro", alt: "My Tips" %>
  <br>
  <p id="thanksMessage">Thanks for using MyTips</p>
</div>