#pay-button{
    border-radius: 30px 30px 30px 30px;
 }
 
 .dropdown{
     width: auto;
     background-color: black;
     color: white;
     border-radius: 30px 30px 30px 30px;
     position: absolute;
     top: 7%;
     left: 84%;
     z-index: 1000;
 }
 
 @media (min-width: 1024px) {
     .dropdown {
         font-size: 14px;
         left: 85%;
     }
 }
 
 
 @media (min-width: 768px ) and (max-width: 1024px) {
     .dropdown {
         font-size: 14px;
         left: 80%;
     }
 }
 
 @media (min-width: 480px ) and (max-width: 768px) {
     .dropdown {
         font-size: 14px;
         left: 75%;
     }
     .profile{
         margin-top: 90px;
         background-color: aqua;
     
     }
 }
 
 @media (min-width: 320px ) and (max-width: 480px) {
     .dropdown {
         margin-left: 5px;
         font-size: 14px;
         left: 72%;
     }
     .profile{
     margin-top: 90px;
     background-color: aqua;
 
 }
 }
 
 .divider {
     border-top: 1px solid #A5B4CB; 
     width: 80%; 
     margin: 10px 0; 
     border-top-width: 2px;
 }
 
 
 