<%= javascript_include_tag('login.js') %>
	<div class="container-fluid">
		<div class="row">
		    <div class="col-md-4 ">
		        <div class="d-flex flex-column justify-content-center align-items-center vh-100 bg-white">
		        <%= image_tag "mytipsimage.png",size: "250x100" , alt: "Description of the image", class: "img-fluid" %>
		        <form action="login" method="post" id="form" class=" py-5 px-4 left-align-form">
		          <div class="mb-3">
		          <label for="email" class="form-label fw-bolder">Email address</label>
		            <input id='email'  type="email" name="email" class="form-control input-class border border-light" placeholder="Enter your email">
		          </div>
		          <div class="">
		            <label class="form-label fw-bolder">Password</label>
		            <div class="input-group mb-3">
		                <input  type="password" class="form-control input-class border border-light" id="password" name="password" placeholder="Password" value="">
		                <span   class="input-group-text input-class border border-light">
		                <i id="togglePassword" class="fa fa-eye-slash common-icon-style" style="cursor: pointer"></i>
		                </span>
		            </div>
		            </div>

		          <div class="mt-2 ">
		          <input type="checkbox" class="form-check-input" id="rememberMe">
		          <label class="form-check-label" for="rememberMe">Remember me</label>
		          </div>
		          <button type="submit" class="btn btn-dark submit_btn w-100 my-4 login-button" >Login</button>
		        </form>
		        </div>
		    </div>
		    <div class="col-md-8">
		        <div class="d-flex justify-content-center align-items-center vh-100 bg-light">
		        <%= image_tag "mytipsimage.png", alt: "Description of the image", class: "img-fluid" %>
		        </div>
		    </div>
		</div>
	</div>
